---
import Layout from "../layouts/Layout.astro";
const title = "arland.dev";
const description =
  "tl;dr - name: Arland Torres, location: United Kingdom, current role: Microsoft Sales Advisor, interests: accessibility, automation, all things horror and science fiction";
---

<Layout {title} {description}>
  <h1 class="mt-4 font-mono font-medium">About me</h1>
  <p>
    I'm Arland Fran Torres, (aspiring) developer and minimalist, based in the
    UK.
  </p>
  <p>
    Currently I work as a Microsoft Sales Advisor, but I'm looking for
    opportunities in software development.
  </p>
  <p>
    My interests are in digital accessibility, workflow automation and data
    visualizations. I'm also a big horror & science fiction fan.
  </p>
  <h2 class="mt-4 font-mono font-medium">What I'm up to now</h2>
  <p>
    I'm in the middle of reworking my site and giving my portfolio projects a
    refresh. Lately, I've been getting way too many server failure emails from
    Render, so I'm planning to move everything over to Cloudflare (or another
    service) and take the chance to modernize the tech stack while I'm at it.
  </p>
  <p class="font-mono text-sm text-neutral-400">
    Last updated: <time datetime="2025-10-31">31-10-25</time>
  </p>
</Layout>
