---
import Layout from "../layouts/Layout.astro";

const title = "Posts";
const description = "Thoughts, brain dumps and explorations";
---

<Layout {title} {description}>
  <h1 class="mt-4 font-mono font-medium">{description}</h1>
  <p>No posts yet.</p>
</Layout>
