---
import { getSegments } from "../lib/breadcrumb";

interface Props {
  is404: boolean;
}

const { is404 } = Astro.props;
const segments = getSegments(Astro.url.pathname);
---

<nav aria-label="Breadcrumb">
  <ol class="inline-flex flex-wrap font-mono">
    <li class="inline-flex items-center">
      <a
        aria-current={segments.length === 0 ? "page" : undefined}
        href="/"
        class="text-neutral-400 hover:text-neutral-200"
      >
        <span class="sr-only">home</span>
        <span aria-hidden="true">arland@dev:~</span>
      </a>
      {
        segments.length === 0 ? (
          <span aria-hidden="true" class="ml-0.5 font-medium">
            $
          </span>
        ) : (
          <span aria-hidden="true">/</span>
        )
      }
    </li>
    {
      is404 ? (
        <li aria-current="page" class="content-center font-medium">
          page-not-found
        </li>
      ) : (
        segments.map(({ name, href, isLast }) => (
          <li
            aria-current={isLast ? "page" : undefined}
            class="inline-flex items-center"
          >
            {isLast ? (
              <span class="font-medium">{name}</span>
            ) : (
              <>
                <a class="content-center" href={href}>
                  {name}
                </a>
                <span aria-hidden="true">/</span>
              </>
            )}
          </li>
        ))
      )
    }
  </ol>
</nav>
