---
import Breadcrumb from "../components/Breadcrumb.astro";
import BreadcrumbJsonLd from "../components/BreadcrumbJsonLd.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  is404?: boolean;
}

const { title, description, is404 = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {!is404 && <BreadcrumbJsonLd />}
  </head>
  <body>
    <Breadcrumb is404={is404} />
    <main>
      <slot />
    </main>
  </body>
</html>
